<h2>
  Car Owners:</h2>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Car Reg</th>
    <th>Email</th>
    <th>Skype ID</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let carOwner of carOwners">
    <td>{{carOwner.id}}</td>
    <td>{{carOwner.name}}</td>
    <td>{{carOwner.carReg}}</td>
    <td>{{carOwner.email}}</td>
    <td>{{carOwner.skypeId}}</td>
    <td><button (click)="editCarOwner(carOwner.id)">Edit</button></td>
    <td><button (click)="deleteCarOwner(carOwner.id)">Delete</button></td>
  </tr>
</table>